* {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }

li {
  list-style: none; }

@font-face {
  font-family: seguisb;
  src: url(../font/seguisb.ttf); }

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url(../font/HelveticaNeue-Thin.otf); }

.ui-accordion .ui-accordion-icons {
  padding-left: 0; }

.ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content {
  padding: 0; }

.ui-accordion .ui-accordion-header {
  margin: 0; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content, .ui-widget-content:hover, .ui-widget-header:hover, .ui-state-hover, .ui-state-active, .ui-state-default {
  border: none !important; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

heder .ui-state-default {
  background: none; }

/*new set of colors */
body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444647;
  overflow-x: hidden; }

.ui-widget-content {
  color: #444647; }

header, header .navbar-inverse {
  background: #fcc103;
  color: #333;
  border: none; }

header.row {
  margin-left: 0; }

.dark-black {
  background: #1d2c31; }

.faint-black {
  background: #23363b; }

.header-bg-faint-color {
  background: #e5e5e5; }

.accordian-height {
  height: 100px; }

.width-20 {
  width: 20%; }

.width-80 {
  width: 80%; }

.width-80 h1, .width-80 span, .ui-widget {
  font-family: HelveticaNeue-Thin, sans-serif; }

header img {
  width: 251px;
  height: 69px;
  margin: 10px 20px; }

.diagramContainer {
  width: 760px;
  margin: 20px auto; }

.headerText {
  font-size: 40px;
  margin: 0 0 30px 0; }

.headerText, .secondary-headerText {
  text-align: center;
  display: block; }

.secondary-headerText {
  font-size: 25px; }

.diagram {
  margin: 15px 0;
  background: #fdf202;
  height: 500px;
  width: 600px;
  margin: 0 auto;
  padding: 60px 0 0 39px; }

.link-menu {
  display: block;
  padding: 20px 4px;
  border-radius: 7px;
  clear: both;
  margin: 20px 0 20px 0;
  text-align: center;
  width: 120px; }

.link-menu, .oneself-circle {
  background: #fcc103;
  /* background: rgba(0, 0, 0, 0.2); */
  font-size: 19px;
  border: 2px solid white; }

.link-menu:hover, .link-menu, .custom-btn:hover {
  color: white; }

.oneself-circle {
  display: block;
  text-align: center;
  background: url("../images/oneself-circle.png") no-repeat;
  background: none;
  border: 2px solid #fff;
  width: 100px;
  margin: 100px auto;
  padding: 32px 0;
  border-radius: 50%;
  color: #fff;
  background: #fcc103; }

.mainlogo {
  font-size: 45px;
  padding-top: 10px;
  color: #FFF; }

.second-diagram-set {
  width: 281px; }

.third-diagram-set {
  width: 100px;
  margin: 5px 0 0 0; }

a:hover {
  text-decoration: none; }

.custom-btn:hover, .custom-btn {
  background: transparent;
  border: 1px solid white; }

.custom-btn {
  width: 100px;
  padding: 5px;
  margin: 20px 5px;
  color: #FFF;
  font-size: 20px;
  border-radius: 0;
  border: 1px solid white; }

.colored-btn, .colored-btn:hover {
  background: #114d75; }

header .navbar-inverse {
  margin: 10px 0 0 0; }
