* {
    margin: 0;
    padding: 0;
}
a {
    cursor: pointer;
}
li {
    list-style: none;
}
@font-face {
    font-family: seguisb;
    src: url(../font/seguisb.ttf);
}
@font-face {
    font-family: HelveticaNeue-Thin;
    src: url(../font/HelveticaNeue-Thin.otf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato-Regular.ttf);
}

.ui-accordion .ui-accordion-icons {
    padding-left: 0;
}
.ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content {
    padding: 0;
}
.ui-accordion .ui-accordion-header {
    margin: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content, .ui-widget-content:hover, .ui-widget-header:hover, .ui-state-hover, .ui-state-active, .ui-state-default {
    border: none!important;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
heder .ui-state-default {
    background: none;
}
$header-bg-color:#FFF;
 $header-bg-faint-color:#e5e5e5;
 $dark-black:#1d2c31;
 $faint-black:#23363b;
 $text-color:#FFF;
 $dark-orange:#d68335;
 $dark-red:#8e4436;
 $faint-red:#a44f3f;
 $dark-green:#7a7d46;
 $faint-green:#8d9151;
 $dark-lavender:#7a58a5;
 $faint-lavender:#8963b9;
 $link-text-color:#444647;
 $border-color:#444647;
 $header-bg:#f8983d;
 $diagram-bg-color:#fcd730;
 $border-color:#fff;
 $btn-bg-color:#8064a2;
 /*new set of colors */
 $header-bg:#3498db;
 
 $btn-border-color:#444647;
 $btn-bg-color:#f0ad4e;
 $link-text-color:#fff;
 $link-bg-color:#1abc9c;
 $body-bg-color:#3498db;
 body {
    font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: $text-color;
    overflow-x: hidden;
    background: $body-bg-color;
    padding-top: 95px;
}
.ui-widget-content {
    color: $text-color;
}
header, header .navbar-inverse {
    background: $header-bg;
    color: #333;
    border: none;
}
header.row {
    margin-left: 0;
}
.dark-black {
    background: $dark-black;
}
.faint-black {
    background: $faint-black;
}
.header-bg-faint-color {
    background: #e5e5e5;
}
.accordian-height {
    height: 100px;
}
.width-20 {
    width: 20%;
}
.width-80 {
    width: 80%;
}
.width-80 h1, .width-80 span, .ui-widget {
    font-family: HelveticaNeue-Thin, sans-serif;
}
header img {
    width: 251px;
    height: 69px;
    margin: 10px 20px;
}
.diagramContainer {
    width: 760px;
    margin: 20px auto;
}
.headerText {
    font-size: 40px;
    margin: 0 0 10px 0;
}
.headerText, .secondary-headerText {
    text-align: center;
    display: block;
}
.secondary-headerText {
    font-size: 25px;
}
.diagram {
    margin: 15px 0;
    height: 500px;
    width: 600px;
    margin: 0 auto;
    padding: 30px 0 0 39px;
}
.link-menu {
    display: block;
    padding: 20px 4px;
    border-radius: 7px;
    clear: both;
    margin: 20px 0 20px 0;
    text-align: center;
    width: 120px;
}
.link-menu, .oneself-circle {
    background: $link-bg-color;
    /* background: rgba(0, 0, 0, 0.2); */
    font-size: 19px;
    border: 2px solid $border-color;
}
.link-menu:hover, .link-menu,.custom-btn:hover,.oneself-circle:hover {
    color: $link-text-color;
}
.oneself-circle {
    display: block;
    text-align: center;
    background: url("../images/oneself-circle.png") no-repeat;
    background: none;
    border: 2px solid #fff;
    width: 100px;
    margin: 100px auto;
    padding: 32px 0;
    border-radius: 50%;
    color: #fff;
   background:  $link-bg-color;
}
.mainlogo{
    font-size: 25px;
    padding-top: 10px;
    color: #FFF;
}
.second-diagram-set {
    width: 281px;
}
.third-diagram-set {
    width: 100px;
    margin: 5px 0 0 0;
}
a:hover {
    text-decoration: none;
}
.custom-btn:hover, .custom-btn,.custom-btn:hover {
    background: transparent!important;
    border: 1px solid $border-color;
    color: #FFF!important;
}
.custom-btn {
    width: 100px;
    padding: 5px;
    margin: 20px 5px;
    color: #FFF;
    font-size: 15px;
    border-radius: 0;
    border: 1px solid $border-color;
}
.colored-btn, .colored-btn:hover,.colored-btn:focus {
    background: $btn-bg-color!important;
    color: #FFF;
}
header .navbar-inverse {
    margin: 10px 0 0 0;
}
