html {
	height: 100%;
}

body {
    background-color: transparent;
    margin: 0 0 0 0;
    overflow: hidden;
    height: 100%;
}

svg {
    /* background-color: transparent; */
    /*border-style: solid;
    border-width: 1px;
    border-color: pink;*/
    /* margin: -8px; */
    /* position: absolute; */
    /* top: 0px; */
    margin: auto;
    /* padding: 3%; */
}

.center-cropped {
  width: 280px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.outerContainer {

  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.mainContainer {
	display: table-cell;
/*
	height: 100%;
	width: 100%;*/
	height: 100%;
	vertical-align: middle;
}