html {
	height: 100%;
}

body {
    background-color: transparent;
    margin: 0 0 0 0;
    overflow: hidden;
    height: 100%;
    font: 12px Arial;
}

path { 
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #454b54;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.dot {
    /*stroke: #000;*/
}

/*
svg {
    margin: auto;
}

.center-cropped {
  width: 280px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.outerContainer {

  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.mainContainer {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}*/