body{
	font-size: 14px;
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
	background: #30363E;
	color: #ffffff;
}
h1{ font-size: 2.2em;}
h2{ font-size: 2.0em;
	font-family: 'Raleway-ExtraBold';
}
h3{ font-size: 1.8em;}
h4{ font-size: 1.6em;}
h5{ font-size: 1.4em;}
h6{ font-size: 1.1em;}
a{}
b{
	font-family: 'Raleway-Medium';
}
p{}
header{}
nav{}
footer{}
section{}
aside{}
img{
	max-width: 100%;
}
hr{}
input,button{}

.center {text-align:center;}
.right-reset {
	float: right;
}
.left-reset {
	float:left;
}
.clearfix:after {
	clear:both;
	content: "";
	display: block;

}

.grid-reset-mobile, .grid {
	display: table;
	width: 100%;
}
.grid-row {
	display: table-row;
}
.grid-cell {
	display: table-cell;
	vertical-align: middle;
}
@media screen and (max-width: 800px){
	.build-data  .grid-cell.content,
	.united-data  .grid-cell.content,
	.no-profit .grid-cell.profit-content,
	.no-profit .grid-cell.empower{
		padding: 3em;
	}
	footer.footer ul.nav{
		font-size: 0.9em;
	}
	footer.footer{
		padding: 1em;
	}
	body .footer ul.nav .sepearator-right,
	body .footer ul.nav .sepearator-center,
	body .footer ul.nav .sepearator-left {
		padding-top: 18px;
		padding-bottom: 28px;
	}
}
@media screen and (max-width: 575px){
	body{
		min-width: 320px;
	}
	.grid-reset-mobile .grid-row .grid-cell{
		display: block;
		width: auto;
	}
	.grid-reset-mobile .grid-row{
		display: block;
	}
	.grid-reset-mobile {
		display: block;
	}
	.left-reset{
		float: none;
	}
	.right-reset{
		float: none;
	}
	body header .nav-right, body header .logo{
		float: none;
		text-align: center;
	}
	.nav-right a{
		display: block;
	}
	.img .red-dot-desktop,
	.content .red-dot-desktop,
	.profit-content .yarrow-top-desktop{
		right:50%;
	}

	.img .yarrow-down-desktop {
		left: 50%;
	}

}