body{
	font-size: 14px;
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
	background: #30363E;
	color: #ffffff;
}
h1{ font-size: 2.2em;}
h2{ font-size: 2.0em;
	font-family: 'Raleway-ExtraBold';
}
h3{ font-size: 1.8em;}
h4{ font-size: 1.6em;}
h5{ font-size: 1.4em;}
h6{ font-size: 1.1em;}
a{}
b{
	font-family: 'Raleway-Medium';
}
p{}
header{}
nav{}
footer{}
section{}
aside{}
img{
	max-width: 100%;
}
hr{}
input,button{}

.center {text-align:center;}
.right-reset {
	float: right;
}
.left-reset {
	float:left;
}
.clearfix:after {
	clear:both;
	content: "";
	display: block;

}

.grid-reset-mobile, .grid {
	display: table;
	width: 100%;
}
.grid-row {
	display: table-row;
}
.grid-cell {
	display: table-cell;
	vertical-align: middle;
}
