@import url("reset.css");
@import url("base.css");
@import url("fonts/fonts.css");

a.button,
button,
input[type='sumbit'],
input[type='button'] {
    line-height: 1em;
    display: inline-block;
    text-align: center;
    background: #30363E;
    padding: 12px 10px;
    font-size: 1.2em;
    color: #fff;
    width: 200px;
    border: 2px solid #ECECEC;
    cursor: pointer;
    font-family: 'Raleway-Bold';
    text-transform: uppercase;
}

a.button:hover,
button:hover,
input[type='sumbit']:hover,
input[type='button']:hover {
    background: #00b698
}

/* ===[ Page Navigation css ]=== */
.page-nav:after {
    content: "";
    display: block;
    clear: both;
}

.footer,
.page-nav {
    display: block
}

.page-nav {
    padding: 20px 10px 10px 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.header-wrapper {
    position: fixed;
    width: 100%;
    background: rgba(48, 54, 62, 1);
    z-index: 1000;
}

.page-nav.shrink .nav-right a.nav-link span {
    padding-bottom: 9px;
    height: 0;
    bottom: -4px;
}

.page-nav.shrink a.button {
    padding: 10px;
}

.page-nav.shrink .logo img {
    width: 100px;
}

.page-nav.shrink {
    padding: 10px 10px 6px 10px;
}

/** {
 -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}*/
.footer ul.nav li a:hover {
    color: #cdd1dc;
    border-bottom: 1px solid #5D656E;
}

.footer ul.nav li,
.footer ul.nav li a {
    color: #a9b2bd;
    line-height: 1.75em;
}

.footer ul.nav .sepearator-right,
.footer ul.nav .sepearator-center,
.footer ul.nav .sepearator-left {
    position: relative;
    overflow: hidden;
    padding: 21px 0 31px 0;
}

.footer ul.nav .sepearator-right img,
.footer ul.nav .sepearator-center img,
.footer ul.nav .sepearator-left img {
    position: absolute;
    max-width: none;
}

.footer ul.nav .sepearator-right img {
    right: 0
}

.footer ul.nav .sepearator-center {
    left: -10%;
    width: 120%;
}

.footer ul.nav .sepearator-center img {
    left: -50px
}

.footer ul.nav .sepearator-left {
    left: -30%;
    width: 130%;
}

.footer ul.nav .heading {
    font-family: 'Raleway-medium'
}

.footer ul.nav {
    vertical-align: top;
    background: #454B54;
    display: inline-block;
    text-align: left;
    min-width: 17.5%;
    max-width: 23.5%;
    padding: 0;
    margin: 0;
    padding-left: 1%;
    font-size: 1.2em;
    font-family: 'Raleway-Light';
}

.footer .copyright {
    color: #646E7A;
    font-size: 0.7em;
    padding-top: 35px;
}

.footer {
    text-align: center;
    background: #454B54;
    padding: 3em 5em;
}

.logo {
    margin-left: 13px;
    float: left;
}

.nav-right a.button:hover {
    background-color: #f2ae1c
}

.nav-right a.button {
    vertical-align: middle;
    width: 70px;
    font-size: 1em;
    margin-left: 15px;
}

.nav-right a.nav-link:hover span {
    visibility: visible
}

.nav-right a.nav-link:hover {
    border-bottom: 1px solid #fff
}

.nav-right a.nav-link span {
    visibility: hidden;
    display: block;
    bottom: -8px;
    position: relative;
    z-index: 900;
}

.nav-right a.nav-link {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    color: #fff;
    padding: 14px 10px 0 10px;
    font-size: 0.95em;
    margin-left: 10px;
    position: relative;
    font-family: 'Raleway-SemiBold';
}

.nav-right {
    float: right;
    display: block;
    padding-right: 10px;
}

.nav-right a.button.signupButton:hover {
    background-color: #FFB921;
}
.nav-right a.button.signupButton {
    background-color: #f2ae1c
}

/* ===[ Main content ]=== */
.page-content {
    padding-top: 93px
}

/* ===[ Banner section ]=== */
.banner h1,
.invite-footer h1 {
    font-family: 'Raleway-Bold'
}

.banner.quest-banner {
    padding: 3em 3em 6em 3em
}

.quest-banner h2 {
    text-align: center;
    font-family: 'Raleway-Bold';
    font-size: 3.2em;
    margin-top: 40px;
    color: #fdc526;
}

.quest-banner .page-title {
    color: #61B346
}

.quest-content {
    color: #333333;
    font-family: 'Raleway-medium';
}

.quest-content,
.banner-white {
    background: #ffffff
}

.banner-white {
    padding: 4em;
    text-align: center;
    color: #333;
}

.banner h1 {
    font-size: 3.25em;
    margin-bottom: 40px;
}

.banner p span {
    display: block;
    color: #00bc9d;
}

.banner {
    padding: 0 2em;
}

.banner p {
    margin-top: 37px;
    font-size: 2em;
    line-height: 1.3em;
}

.invite form {
    margin: 15px auto
}

.invite {
    padding: 40px 0;
    font-size: 1.4em;
}

.invite input[type="button"]:hover {
    background: #00967D
}

.invite input[type="button"] {
    width: 100px;
    padding: 10px 10px 11px 10px;
    padding: 8px 10px 10px 10px;
    background: #00b698;
    border-color: #fff;
}

.invite::-webkit-input-placeholder {
    /* .invite: -ms-input-placeholder, .invite::-moz-placeholder, .invite:-moz-placeholder, */;
    color: #ececec;
}

.invite input[type="text"] {
    width: 200px;
    padding: 8px 11px 9px 25px;
    border: 1px solid #ffffff;
    color: #333333;
}

.invite input {
    font-family: 'Raleway-SemiBold';
    vertical-align: middle;
    font-size: 0.7em;
    line-height: 1em;
}

.invite-footer h1 {
    padding-top: 50px;
    margin-bottom: 10px;
}

.invite-footer h1 img {
    vertical-align: middle
}

.invite-footer input[type="button"]:hover {
    background: #F1B024
}

.invite-footer input[type="button"] {
    background: #FDC526
}

.invite-footer {
    margin-top: 40px;
    text-align: center;
    border-bottom: 7px solid #454B54;
    margin-bottom: 5px;
}

.enable-smart-life {
    background: #00B698;
    border-right: 1px solid #333;
}

.enable-smart-life .content a.button:hover {
    background: #01A17E
}

.enable-smart-life .content a.button {
    background: #00AD87;
    font-size: 1em;
    width: 150px;
}

.enable-smart-life .content,
.quest-content {
    position: relative;
    padding: 5em;
}

.enable-smart-life .img img.build {
    width: 50%;
    margin: 5% auto;
}

.enable-smart-life .img {
    background: #fff;
    text-align: center;
    position: relative;
    border-left: 1px solid #333;
    width: 50%;
}

.integrity {
    background: #cf4b9a;
    border-right: 1px solid #333;
}

.integrity .content a.button:hover {
    background: #01A17E
}

.integrity .content a.button {
    background: #00AD87;
    font-size: 1em;
    width: 150px;
}

.integrity .content {
    position: relative;
    padding: 5em;
}

.integrity .img img.build {
    width: 80%;
    margin: 5% auto;
}

.integrity .img {
    background: #fff;
    text-align: center;
    position: relative;
    border-left: 1px solid #333;
    width: 50%;
}

.build-data {
    background: #00B698;
    border-right: 1px solid #333;
}

.build-data .content a.button:hover {
    background: #01A17E
}

.build-data .content a.button {
    background: #00AD87;
    font-size: 1em;
    width: 150px;
}

.build-data .content {
    position: relative;
    padding: 5em;
}

.build-data .img img.build {
    width: 80%;
    margin: 15% auto;
}

.build-data .img {
    background: #fff;
    text-align: center;
    position: relative;
    border-left: 1px solid #333;
    width: 50%;
}

.united-data {
    background: #ffffff;
    border-top: 2px solid #cdd1dc;
    border-left: 1px solid #333;
}

.united-data .img img.united {
    width: 50%;
    margin: 15% auto;
}

.united-data .img {
    text-align: center;
    position: relative;
    width: 50%;
    border-right: 1px solid #333;
}

.united-data .content a.button:hover {
    background: #CF2014
}

.united-data .content a.button {
    background: #e93d31;
    font-size: 1em;
    width: 150px;
}

.united-data .content {
    position: relative;
    padding: 5em;
    background: #f05a43;
}

.any-data {
    background: #ffffff;
    border-top: 2px solid #cdd1dc;
    border-left: 1px solid #333;
}

.any-data .img img.united {
    width: 80%;
    margin: 15% auto;
}

.any-data .img {
    text-align: center;
    position: relative;
    width: 50%;
    border-right: 1px solid #333;
}

.any-data .content a.button:hover {
    background: #CF2014
}

.any-data .content a.button {
    background: #e93d31;
    font-size: 1em;
    width: 150px;
}

.any-data .content {
    position: relative;
    padding: 5em;
    background: #f2ae1c;
}

.big-data {
    background: #ffffff;
    border-top: 2px solid #cdd1dc;
    border-left: 1px solid #333;
}

.big-data .img img.united {
    width: 80%;
    margin: 15% auto;
}

.big-data .img {
    text-align: center;
    position: relative;
    width: 50%;
    border-right: 1px solid #333;
}

.big-data .content a.button:hover {
    background: #CF2014
}

.big-data .content a.button {
    background: #e93d31;
    font-size: 1em;
    width: 150px;
}

.big-data .content {
    position: relative;
    padding: 5em;
    background: #f05a43;
}

.content-slider-container {
    padding: 50px;
    background: #f2ae1c;
}

.slick-slider {
    margin-bottom: 0%;
}

.slick-prev {
    height: 58px;
    left: -85px;
}

.slick-next {
    height: 58px;
    right: -85px;
}

.slide-content .grid-row {
    padding-left: 200px;
}



.no-profit .empower {
    padding: 5em
}

.no-profit .profit-content a.button:hover {
    background: #D30E00
}

.no-profit .profit-content a.button:hover {
    background: #D30E00
}

.no-profit .profit-content a.button {
    background: #e93d31;
    margin-top: 20px;
    padding: 20px;
    margin: 20px;
    border-color: #4C545C;
    width: 160px;
    font-size: 1em;
}

.no-profit .profit-content {
    position: relative;
    width: 50%;
    padding: 5em;
    text-align: center;
}

.no-profit {
    background: #ffffff;
    border-top: 2px solid #cdd1dc;
    color: #333;
}

.enable-smart-life .content h2 {
    color: #fdc526
}

.integrity .content h2 {
    color: #fdc526
}

.build-data .content h2 {
    color: #fdc526
}

.united-data .content h2 {
    color: #fdc526
}

.any-data .content h2 {
    color: #cf4b9a
}

.big-data .content h2 {
    color: #fdc526
}

.slide-content .content h2 {
    color: #31859c
}

.no-profit .empower h2 {
    color: #00b698
}

.build-banner-white h2 {
    color: #367ec0
}

.no-profit .empower h2,
.slide-content .content h2,
.big-data .content h2,
.any-data .content h2,
.united-data .content h2,
.build-data .content h2,
.enable-smart-life .content h2,
.integrity .content h2 {
    margin-bottom: 20px
}

.enable-smart-life .content p,
.enable-smart-life .content b,
.integrity .content p,
.integrity .content b,
.build-data .content p,
.build-data .content b,
.united-data .content p,
.united-data .content b,
.any-data .content p,
.any-data .content b,
.big-data .content p,
.big-data .content b,
.slide-content .content p,
.slide-content .content b,
.no-profit .empower b,
.no-profit .empower p,
.build-banner-white p,
.quest-content p {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 130%;
}

.enable-smart-life .content p:not(:first-child) {
    margin-top: 5px;
}

div.quest-content p {
    line-height: 1.2em
}

.build-banner-white p {
    font-family: 'Raleway-medium'
}

.enable-smart-life .content b,
.integrity .content b,
.build-data .content b,
.united-data .content b,
.any-data .content b,
.big-data .content b,
.slide-content .content b,
.no-profit .empower b {
    font-weight: bold;
    display: block;
}

.enable-smart-life .content .button,
.integrity .content .button,
.build-data .content .button,
.united-data .content .button,
.any-data .content .button,
.big-data .content .button,
.slide-content .content .button,
.no-profit .empower .button {
    margin-top: 35px
}

.build-banner-white {
    background: #fff;
    padding: 4em 6em;
    color: #333;
}

.slide-content .img img {
    margin: 0 auto;
    max-width: 200px;
}

.slide-content .img {
    width: 25%;
    padding-right: 2em;
    margin-right: 8em;
}

.slide-content .content {
    padding: 5% 5% 5% 15%
}

.slide-content .img {
    padding: 5% 15% 5% 5%
}

.yarrow-top-desktop img {
    position: relative;
    top: -22px;
    right: -22px;
}

.yarrow-down-desktop img {
    position: relative;
    bottom: -22px;
    left: -22px;
}

.yarrow-top-desktop {
    position: absolute;
    right: 100%;
    top: 100%;
    width: 45px;
    z-index: 900;
}

.yarrow-down-desktop {
    position: absolute;
    left: 100%;
    bottom: 100%;
    width: 45px;
    z-index: 900;
}

.red-dot-desktop img {
    position: relative;
    top: -15px;
    right: -15px;
}

.red-dot-desktop {
    position: absolute;
    right: 100%;
    top: 100%;
    width: 31px;
    z-index: 900;
}

.yellow-center img,
.green-center img,
.pink-divider img {
    top: -15px;
    height: 31px;
}

.yellow-center img,
.green-center img,
.y-dwarrow-center img,
.y-uparrow-center img,
.pink-divider img {
    position: relative
}

.pink-divider {
    border-top: 2px solid #ffffff
}

.sepearator-dark {
    border-top: 2px solid #333
}

.sepearator-dark,
.sepearator {
    margin: 40px auto;
    text-align: center;
    height: 0;
    width: 65%;
    min-width: 250px;
    max-width: 400px;
}

.y-dwarrow-center,
.y-uparrow-center {
    margin: 0 auto
}

.y-uparrow-center img,
.y-dwarrow-center img {
    top: -22px;
    width: 45px;
    z-index: 999;
}
.next-page .grid .grid-row .grd-cell{
    width: 45px;
}
.next-page {
    display: block;
    position: relative;
    top:-22px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.1em;
    font-family: 'Raleway-bold';
}
.next-btn {
    background: url('../images/next-btn_bg.png') repeat-x;
    background-size: 100% 45px;
    width: auto;
}
.next-page img{
    height: 45px;
    }

.maroon {
    color: #c0504d
}

.seagreen {
    color: #00B698
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
* {
    letter-spacing: 1px
}

@media screen and (max-width: 875px) {
    body .nav-right a.nav-link {
        padding-left: 0;
        padding-right: 5px;
    }
}

@media screen and (min-width: 801px) {
    #collapse-link {
        display: block !important
    }
}

@media screen and (max-width: 800px) {
    .build-banner-white {
        padding: 3em 4.5em
    }

    .page-nav .logo img {
        height: 40px
    }

    .page-nav .logo {
        margin: 0
    }

    .page-nav {
        padding: 1em
    }

    .enable-smart-life .content,
    .integrity .content,
    .build-data .content,
    .united-data .content,
    .any-data .content,
    .big-data .content,
    .build-data .grid-cell.content,
    .united-data .grid-cell.content,
    .no-profit .grid-cell.profit-content,
    .no-profit .grid-cell.empower,
    .quest-content {
        padding: 3em
    }


    .slide-content .content{
        padding: 2% 2% 2% 5%;
    }

    .slide-content .img{
        padding: 2% 5% 2% 2%;
    }


    .slide-content .img img {
    max-width: 100px;
    }

    .slick-prev {
        height: 29px;
        left: -50px;
    }

    .slick-next {
        height: 29px;
        right: -50px;
    }

    .content-slider {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .united-data .img img.united {
        width: 80%;
    }
    body .page-content {
        padding-top: 8em
    }

    footer.footer ul.nav {
        font-size: 0.9em
    }

    footer.footer {
        padding: 1em
    }

    body .footer ul.nav .sepearator-right,
    body .footer ul.nav .sepearator-center,
    body .footer ul.nav .sepearator-left {
        padding-top: 18px;
        padding-bottom: 28px;
    }

    .logo {
        width: 50%
    }

    .mobile-only-nav div {
        border: 1px solid;
        margin: 7px 7px;
    }

    .mobile-only-nav {
        float: right;
        width: 40px;
        margin-right: 1.5%;
        margin-left: 2%;
        border: 2px solid #646E7A;
        color: #646E7A;
        border-radius: 5px;
        padding: 0px;
        cursor: pointer;
    }

    .nav-right {
        float: none;
        display: none;
        clear: both;
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }

    .nav-right a.nav-link:hover {
        background: #454b54;
        border-top: 1px solid #454B54;
    }

    .nav-right a.nav-link:hover,
    .nav-right a.nav-link,
    .nav-right a.button {
        margin: 0;
        display: block;
        clear: both;
        width: auto;
        border: none;
        padding-left: 0;
        padding-right: 0;
        border-top: 1px solid #454b54;
    }
}

@media screen and (max-width: 575px) {
    body {
        min-width: 320px
    }

    .grid-reset-mobile .grid-row .grid-cell {
        display: block;
        width: auto;
    }

    .grid-reset-mobile .grid-row {
        display: block
    }

    .grid-reset-mobile {
        display: block
    }

    .left-reset {
        float: none
    }

    .right-reset {
        float: none
    }

    .build-banner-white {
        padding: 3em
    }

    .invite form input[type="button"] {
        width: 85px
    }

    .invite form input[type="text"] {
        width: 115px
    }

    .img .red-dot-desktop,
    .content .red-dot-desktop,
    .profit-content .yarrow-top-desktop {
        right: 50%
    }

    .img .yarrow-down-desktop {
        left: 50%
    }
    .next-page {
        font-size: 0.9em;
    }
    .quest-banner h2 {
        font-size: 2.5em
    }

    footer.footer ul.nav .sepearator-left img,
    footer.footer ul.nav .sepearator-center img,
    footer.footer ul.nav .sepearator-right img {
        width: 100%;
        position: static;
    }

    footer.footer ul.nav .sepearator-left,
    footer.footer ul.nav .sepearator-center,
    footer.footer ul.nav .sepearator-right {
        padding: 0;
        width: 100%;
        left: 0;
        height: auto;
    }

    footer.footer ul.nav li.heading {
        padding-top: 20px
    }

    footer.footer ul.nav li {
        padding-left: 2em
    }

    footer.footer ul.nav {
        padding: 0;
        display: block;
        max-width: none;
    }

    .slide-content .content{
        padding: 0% 0% 0% 2%;
        width: 100%;
        margin-left: -10%;
    }

    .slide-content .img{
        padding: 0% 2% 0% 0%;
        width: 100%;
        margin-right: -10%;
    }


    .slide-content .img img {
    max-width: 100px;
    }

    .slick-prev {
        height: 29px;
        left: -50px;
    }

    .slick-next {
        height: 29px;
        right: -50px;
    }

    .content-slider-container{
        padding: 50px;
    }


    
}

/* unite section */
.unite-heading {
    font-family: Raleway-light;
}



