@import url('reset.css');
@import url('base.css');
@import url('fonts/fonts.css');
a.button, button, input[type='sumbit'], input[type='button']{
	line-height: 1em;
	display: inline-block;
	text-align: center;
	background: #30363E;
	padding: 12px 10px;
	font-size: 1.2em;
	color: #fff;
	width: 200px;
	border: 2px solid #ECECEC;
	cursor: pointer;
	font-family: 'Raleway-Bold';
	text-transform: uppercase;
}
a.button:hover, button:hover, input[type='sumbit']:hover, input[type='button']:hover {
	background: #00b698;

}


/*Page Navigation css*/
.page-nav:after{
	content: "";
	display: block;
	clear: both;
}
.page-nav{
	display: block;
	padding:20px 10px 10px 10px;
	position: fixed;
	width: 98%;
	background: #30363E;
	z-index: 1000;
}
.logo {
	margin-left: 13px;
	float: left;
}
.nav-right a.button:hover{
	background-color: #f2ae1c;
}
.nav-right a.button{
	width: 70px;
	font-size: 1em;
	margin-left: 15px;
}
.nav-right a.nav-link:hover span {
	visibility: visible;
}
.nav-right a.nav-link:hover {
	border-bottom: 1px solid #fff;
}
.nav-right a.nav-link span {
	visibility: hidden;
	display: block;
	bottom: -8px;
	position: relative;
}
.nav-right a.nav-link {
	text-align: center;
	display: inline-block;
	color:#fff;
	padding: 14px 10px 0 10px ;
	font-size: 0.95em;
	margin-left: 10px;
	position: relative;
	font-family: 'Raleway-SemiBold';
}
.nav-right{
	float:right;
	padding-right: 10px;
}

/*Main content*/
.page-content {
	padding-top: 93px;
}

/*Banner section*/
.banner h1, .invite-footer h1{
	font-family: 'Raleway-Bold';
}
.banner h1{
	font-size: 3.25em;
	margin-bottom: 40px;
}
.banner p span{
	display: block;
	color: #00bc9d;
}
.banner p {
	margin-top: 37px;
	font-size: 2em;
	line-height: 1.3em;
}
.invite form{
	margin: 15px auto;
}
.invite {
	padding: 40px;
	font-size: 1.4em;
}
.invite input[type="button"]:hover{
	background: #00967D;
}
.invite input[type="button"]{
	width: 100px;
	padding: 10px 10px 11px 10px;
	background: #00b698;
	border-color: #fff;
}

.invite ::-webkit-input-placeholder { 
/*.invite :-ms-input-placeholder,
.invite ::-moz-placeholder,
.invite :-moz-placeholder ,*/
    color: #ececec;
}
.invite input[type="text"]{
	width:200px;
	padding: 8px 11px 9px 25px;
	border:1px solid #ffffff;
	color: #333333;
}
.invite input{
	font-family:'Raleway-SemiBold';
	vertical-align: middle;
	font-size: 0.7em;
	line-height: 1em;
}
.invite-footer h1 {
	padding-top: 50px;
	margin-bottom: 10px;
}
.invite-footer h1 img{
	vertical-align: middle;
}
.invite-footer input[type="button"]:hover{
	background: #F1B024;
}
.invite-footer input[type="button"]{
	background: #FDC526;
}
.invite-footer {
	margin-top: 40px;
	text-align: center;
	border-bottom: 7px solid #454B54;
	margin-bottom: 5px;
}


.build-data{
	background: #00B698;
	border-right: 1px solid #333;
}
.build-data .content h2{
	color: #FDC526;
	margin-bottom: 20px;
}
.build-data .content p{
	font-size: 0.9em;
}
.build-data .content p,
.build-data .content b{
	line-height: 1.5em;
	margin-bottom: 20px;
}
.build-data .content b{
	font-weight: bold;
	display: block;
}
.build-data .content h2{
	color: #fdc526;
	margin-bottom: 20px;
}
.build-data .content a.button:hover{
	background: #01A17E;
}
.build-data .content a.button{
	background: #00AD87;
	font-size: 1em;
	width: 150px;
}
.build-data .content {
	position: relative;
	padding:5em;
}
.build-data .img img.build{
	width: 80%;
	margin:15% auto; 
}
.build-data .img {
	background: #fff;
	text-align: center;
	position: relative;
	border-left: 1px solid #333;
	width: 50%;
}




.united-data{
	background: #ffffff;
	border-top: 2px solid #cdd1dc;
	border-left: 1px solid #333;

}
.united-data .img img.united{
	width: 80%;
	margin:15% auto; 
}
.united-data .img {
	text-align: center;
	position: relative;
	width: 50%;
	border-right: 1px solid #333;
}
.united-data .content p{
	font-size: 0.9em;
}
.united-data .content p,
.united-data .content b{
	line-height: 1.5em;
	margin-bottom: 20px;
}
.united-data .content b{
	font-weight: bold;
	display: block;
}
.united-data .content h2{
	color: #fdc526;
	margin-bottom: 20px;
}
.united-data .content a.button:hover{
	background: #CF2014;
}
.united-data .content a.button{
	background: #e93d31;
	font-size: 1em;
	width: 150px;
}
.united-data .content {
	position: relative;
	padding: 5em;
	background: #f05a43;
}


.no-profit .empower b,
.no-profit .empower p{
	margin-bottom: 20px;
	line-height: 1.5em;
}
.no-profit .empower b{
	font-weight: bold;
	display: block;
}
.no-profit .empower h2{
	color: #00b698;
	margin-bottom: 20px;
}
.no-profit .empower{
	padding: 5em;

}
.no-profit .profit-content a.button:hover{
	background: #D30E00;
}
.no-profit .profit-content a.button{
	background: #e93d31;
	padding: 20px;
	border-color: #4C545C;
	width: 160px;
	font-size: 1em;
}
.no-profit .profit-content h2{
	color: #f05a43;
	margin-bottom: 50px;
}
.no-profit .profit-content{
	position: relative;
	width: 50%;
	padding: 5em;
	text-align: center;
}
.no-profit {
	background: #ffffff;
	border-top: 2px solid #cdd1dc;
	color: #333;
}




.yarrow-top-desktop img{
	position: relative;
	top: -22px;
	right: -22px;
}
.yarrow-down-desktop img{
	position: relative;
	bottom:-22px;
	left:-22px;
}
.yarrow-top-desktop {
	position: absolute;
	right:100%;
	top: 100%;
	width: 45px;
	z-index: 900;
}
.yarrow-down-desktop {
	position: absolute;
	left:100%;
	bottom: 100%;
	width: 45px;
	z-index: 900;
}
.red-dot-desktop img{
	position: relative;
	top: -15px;
	right: -15px;
}
.red-dot-desktop {
	position: absolute;
	right:100%;
	top:100%;
	width: 31px;
	z-index: 900;
}
.seagreen {color:#00B698;}
*{letter-spacing: 1px;}